#container {
	background: #52B3D9;
	height: 490px;
	width: 300px;
	border-radius: 8px;
	position: relative;
	top: 100px;
	left: 40%;
}
.screen {
	background: #ffff99;
	width: 270px;
	height: 60px;
	position: relative;
	top: 20px;
	left: 15px;
}
.screen input {
	position: relative;
	left: 1px;
	top: 0px;
	height: 56px;
	width: 266px;
	color: black;
	background-color: #FDE3A7;
	font-size: 25px;
	text-align: right;
}
.btns {
	position: relative;
	top: 30px;
	left: 15px;

}
.button {
	width: 40px;
	height: 30px;
	border: none;;
	border-radius: 7px;
	margin-left: 10px;
	cursor: pointer;
}
p {
	line-height: 30px;
}
.button.black {
	color: white;
	background-color: #22313F;
	border-bottom: 2px solid #647489;
	border-top: 2px black;
} 
.button.silver {
	color: white;
	background-color: #95a5a6;
	border-bottom: 2px solid black;
}
.button.red {
	color: white;
	background-color: #D91E18;
	border-bottom: 2px solid black;
}
#bgColor {
   	padding: 10px;
   	border-radius: 7px;
   	color: white;
   	background: #16a085;
   	margin-top: 30px;
   	margin-left: 25px;
}